<?xml version="1.0" encoding="utf-8"?>
<manifest package="sampletestedapp.sarahgallitz.com.sampletestedapp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--For saving screenshots-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.SET_ANIMATION_SCALE"
        tools:ignore="ProtectedPermissions" />
</manifest>